<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><input type="number" th:text="${user.id}">Id</input></td>
            <td><input type="text" th:text="${user.name}">Name</input></td>
            <td><input type="text" th:text="${user.email}">Email</input></td>
            <td>
                <select th:selected="${user.role}">
                    <option>USER</option>
                    <option>ADMIN</option>
                </select>
            </td>
            <td><a class="btn btn-warning" style="height:40px;width:200px" th:href="@{/edit}">Edit
                user</a></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="get">
        <br/>
        <button class="button" name="login" type="Submit">Logout</button>
    </form>"
</div>
</body>
</html>